Assignment 3

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('Students_Performance.csv')

A.Males and Females participated in the test.

In [ ]:
df

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group C,some high school,free/reduced,none,0,17,10
1,female,group B,high school,free/reduced,none,8,24,23
2,female,group B,some high school,free/reduced,none,18,32,28
3,female,group B,some college,standard,none,11,38,32
4,female,group C,some college,free/reduced,none,22,39,33
...,...,...,...,...,...,...,...,...
995,male,group E,some college,standard,completed,99,87,81
996,male,group A,some college,standard,completed,100,96,86
997,male,group D,some college,standard,completed,100,97,99
998,male,group E,associate's degree,free/reduced,completed,100,100,93
999,male,group E,bachelor's degree,standard,completed,100,100,100

In [ ]:
gender_counts = df['gender'].value_counts()
print(gender_counts)

female    518
male      482
Name: gender, dtype: int64

B.student's parental level of education.

In [ ]:
parental_education_counts = df['parental level of education'].value_counts()
print(parental_education_counts)

some college          226
associate's degree    222
high school           196
some high school      179
bachelor's degree     118
master's degree        59
Name: parental level of education, dtype: int64

C.who scores the most on average for math, reading and
writing based on
i. Gender
ii. Test preparation course

In [ ]:
df.columns

Index(['gender', 'race/ethnicity', 'parental level of education', 'lunch',
       'test preparation course', 'math score', 'reading score',
       'writing score'],
      dtype='object')

In [ ]:

average_scores = df.groupby(['gender', 'test preparation course'])[['math score', 'reading score', 'writing score']].mean()
print(average_scores)

                                math score  reading score  writing score
gender test preparation course
female completed                 67.108696      77.375000      78.793478
       none                      61.320359      69.955090      68.982036
male   completed                 72.988506      70.793103      70.339080
       none                      66.467532      62.581169      59.551948

d. Scoring variation based on gender and test preparation course:

In [ ]:

score_variance = df.groupby(['gender', 'test preparation course'])[['math score', 'reading score', 'writing score']].var()
print(score_variance)

                                math score  reading score  writing score
gender test preparation course
female completed                208.173913     161.175546     149.836897
       none                     272.602767     214.241220     225.495172
male   completed                197.098133     185.297987     166.098233
       none                     205.513600     184.843553     181.394687

In [ ]:

std_deviation = df.groupby(['gender', 'test preparation course']).std()[['math score', 'reading score', 'writing score']]
print(std_deviation)

                                math score  reading score  writing score
gender test preparation course
female completed                 14.428233      12.695493      12.240788
       none                      16.510686      14.636981      15.016497
male   completed                 14.039164      13.612420      12.887910
       none                      14.335746      13.595718      13.468284

<ipython-input-16-24df06de6808>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.std is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  std_deviation = df.groupby(['gender', 'test preparation course']).std()[['math score', 'reading score', 'writing score']]

e. Help the management give bonus points to the top 25% of students based on their math score:

In [ ]:
import numpy as np

In [ ]:

math_scores = df['math score']
cutoff_score = np.percentile(math_scores, 75)


top_25_percent_students = df[df['math score'] >= cutoff_score]
bonus_points = 5
top_25_percent_students['bonus_points'] = bonus_points
top_25_percent_students.to_csv('students_with_bonus.csv', index=False)

<ipython-input-24-85df5193cd55>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  top_25_percent_students['bonus_points'] = bonus_points

In [ ]:
df1 = pd.read_csv('students_with_bonus.csv')

In [ ]:
df1

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,bonus_points
0,female,group A,high school,free/reduced,completed,77,88,85,5
1,female,group B,master's degree,free/reduced,completed,77,97,94,5
2,female,group B,bachelor's degree,free/reduced,none,77,85,87,5
3,female,group B,master's degree,standard,none,77,90,84,5
4,female,group B,high school,standard,completed,77,82,89,5
...,...,...,...,...,...,...,...,...,...
250,male,group E,some college,standard,completed,99,87,81,5
251,male,group A,some college,standard,completed,100,96,86,5
252,male,group D,some college,standard,completed,100,97,99,5
253,male,group E,associate's degree,free/reduced,completed,100,100,93,5
254,male,group E,bachelor's degree,standard,completed,100,100,100,5

In [ ]:
df1.head(20)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,bonus_points
0,female,group A,high school,free/reduced,completed,77,88,85,5
1,female,group B,master's degree,free/reduced,completed,77,97,94,5
2,female,group B,bachelor's degree,free/reduced,none,77,85,87,5
3,female,group B,master's degree,standard,none,77,90,84,5
4,female,group B,high school,standard,completed,77,82,89,5
5,female,group C,bachelor's degree,standard,none,77,88,87,5
6,female,group C,bachelor's degree,standard,completed,77,94,95,5
7,female,group C,some college,free/reduced,none,77,90,91,5
8,female,group C,some high school,standard,completed,77,90,85,5
9,female,group C,some high school,standard,none,77,91,88,5
10,female,group D,associate's degree,free/reduced,completed,77,89,98,5
11,female,group D,master's degree,standard,completed,77,82,91,5
12,female,group D,some college,standard,none,77,68,77,5
13,female,group D,associate's degree,standard,none,77,77,73,5
14,female,group D,some college,free/reduced,none,77,86,86,5
15,female,group E,some high school,standard,none,77,79,80,5
16,female,group A,some college,standard,completed,78,87,91,5
17,female,group B,bachelor's degree,free/reduced,none,78,79,76,5
18,female,group D,bachelor's degree,standard,none,78,82,79,5
19,female,group D,high school,standard,none,78,81,80,5

Case Study on Testing of Hypothesis

Question:2,a

In [2]:
import pandas as pd
df2=pd.read_csv('Sales_add.csv')

In [3]:
df2

,Month,Region,Manager,Sales_before_digital_add(in $),Sales_After_digital_add(in $)
0,Month-1,Region - A,Manager - A,132921,270390
1,Month-2,Region - A,Manager - C,149559,223334
2,Month-3,Region - B,Manager - A,146278,244243
3,Month-4,Region - B,Manager - B,152167,231808
4,Month-5,Region - C,Manager - B,159525,258402
5,Month-6,Region - A,Manager - B,137163,256948
6,Month-7,Region - C,Manager - C,130625,222106
7,Month-8,Region - A,Manager - A,131140,230637
8,Month-9,Region - B,Manager - C,171259,226261
9,Month-10,Region - C,Manager - B,141956,193735
10,Month-11,Region - B,Manager - C,159339,203175
11,Month-12,Region - A,Manager - A,178939,276279
12,Month-13,Region - B,Manager - A,145062,205180
13,Month-14,Region - A,Manager - A,151514,253131
14,Month-15,Region - C,Manager - A,147463,229336
15,Month-16,Region - A,Manager - B,177195,187305
16,Month-17,Region - A,Manager - C,140862,234908
17,Month-18,Region - C,Manager - B,167996,191517
18,Month-19,Region - B,Manager - A,132135,227040
19,Month-20,Region - A,Manager - B,152493,212579
20,Month-21,Region - B,Manager - A,147425,263388
21,Month-22,Region - A,Manager - C,130263,243020

In [28]:
df2.columns

Index(['Month', 'Region', 'Manager', 'Sales_before_digital_add(in $)',
       'Sales_After_digital_add(in $)'],
      dtype='object')

In [30]:
sales_before = df2['Sales_before_digital_add(in $)']
sales_after = df2['Sales_After_digital_add(in $)']

In [31]:
from scipy import stats

t_stat, p_value = stats.ttest_rel(sales_before, sales_after)

In [32]:

alpha = 0.05

if p_value < alpha:
    print("Reject the null hypothesis. There is a significant increase in sales after implementing digital marketing.")
else:
    print("Fail to reject the null hypothesis. There is no significant increase in sales after implementing digital marketing.")

Reject the null hypothesis. There is a significant increase in sales after implementing digital marketing.

Qn2:b

In [33]:
df2.columns

Index(['Month', 'Region', 'Manager', 'Sales_before_digital_add(in $)',
       'Sales_After_digital_add(in $)'],
      dtype='object')

In [35]:
region = df2['Region']
manager = df2['Manager']

In [36]:
from scipy.stats import chi2_contingency

contingency_table = pd.crosstab(region, manager)
chi2, p, dof, expected = chi2_contingency(contingency_table)

In [37]:

alpha = 0.05

if p < alpha:
    print("Reject the null hypothesis. Region and Manager are dependent.")
else:
    print("Fail to reject the null hypothesis. Region and Manager are independent.")

Fail to reject the null hypothesis. Region and Manager are independent.